<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="e-library-on-containers-github" value="https://nuget.pkg.github.com/e-library-on-containers/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <e-library-on-containers-github>
            <add key="Username" value="GITHUB_USERNAME" />
            <add key="ClearTextPassword" value="GITHUB_PERSONAL_ACCESS_TOKEN" />
        </e-library-on-containers-github>
    </packageSourceCredentials>    
</configuration>